<mat-card style= " margin: 15%">
  <mat-card-title style="text-align : center">
    <mat-select placeholder="Select Building" [(ngModel)]="selectedValue" name="Building" (selectionChange)='clearText()' style="margin-bottom:10% ">
      <mat-option *ngFor="let Building of Buildings" [value]="Building.value">
        <h3 style="text-align :center ">{{Building.viewValue}}</h3>
      </mat-option>
    </mat-select>
    <h3>{{selectedValue}}</h3>
  </mat-card-title>

  <table class="example-full-width" cellspacing="0" *ngIf="selectedValue"><tr>
      <td><mat-form-field class="example-full-width">
          <input matInput placeholder="Enter Name" type='text' [(ngModel)]='nameField'>
        </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
          <input matInput placeholder="Enter Amount" type='number'[(ngModel)]='amountField'>
        </mat-form-field></td>
    </tr></table>

    <button mat-raised-button color="primary" *ngIf="nameField && amountField" (click)='addClicked()'>Add</button>

</mat-card>
